.header {
    font-size: 2.75rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 200;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto 5rem;
}

.element {
    padding: 0 .5rem;
}

.list {
    list-style: none;
    padding: .75rem;
}

.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
}


.button {
    background-color: #D6BA43;
    cursor: pointer;
    color: inherit;
    border: 1px solid #D6BA43;
    padding: .25rem 1rem;
    color: #fff;
}

.list > li {
    padding: .25rem 0;
}

.title {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .list > li {
        padding: .5rem 0;
    }
}