.nav {
    background-color: #e9e5df;
    display: flex;
    color: #4B3621;
    padding: .5rem 5vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.list > li {
    padding: .5rem .75rem;
    margin: 0 .5rem;
    font-size: 1rem;
    cursor: pointer;
}

.list > li:nth-child(4) {
    display: none;
}

.listButton {
    background-color: #c98e6f;
    cursor: pointer;
    text-transform: uppercase;
    display: none;
}

.active {
    color: var(--primary-color);
}

.logoImage {
    height: 50px;
    width: 75px;
    transform: scale(1.1);
}

.logo {
    background-color: #e9e5df;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact {
    display: flex;
}

.call {
    padding-top: 1rem;
    font-weight: 400;
}

.bold {
    font-weight: 300;
}

.textSmall {
    font-size: .35rem;
    text-align: center;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
    }
    .listButton {
        display: block;
    }
    .list > li:nth-child(4) {
        display: inline-block;
    }
}